body{
    background-color: black;
    color: black;
    font-family: Arial, sans-serif;
}

header {
    background-color: white;
    color: white
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color:blue
}

p {
    font-size: 18px;
    line-height: 1.6;
}