body{
    background-color: rgb(26, 25, 25);
    color: rgb(247, 247, 247);
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(252, 249, 249);
    color: rgb(7, 3, 3)
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color:blue
}

p {
    font-size: 18px;
    line-height: 1.6;
}